body{
    font-family: "微軟正黑體", Arial, sans-serif;
    height: 100vh;
}
.wrap{
    margin: 0 auto;
    max-width: 1366px;     
}
/* <!--   /////////////////////////       topbtn以下  /////////////////////////   -->        */
.back_btn{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 10px;
    right:10px;
    border-radius: 10px;
    background:#285964;
    color: #ffffff;
    z-index: 100;
}
/* <!--   /////////////////////////       nav以下  /////////////////////////   -->        */
header{
    box-shadow: 0px 1px 5px  #bbbbbb;
    position: fixed; 
    top:0;
    z-index: 60; 
    background: #ffffff;
    width: 100%;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1366px;
}
.navul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navul a{
    display: block;
    text-decoration: none;
    padding: 20px 20px;
    font-size: 20px;
    color: #32707e;
    font-weight: 600; 
}
.nav_logo{
    height: 60px;
}
.menuli > a:before, .last-menuli > a:after {
    content: '';
    width: 1px;
    height: 20px;
    background: #bbbbbb;
    position: absolute;
    left: 0;
    top: 20px;
}
.last-menuli a:after {
    left: 120px;
} 
.menuli{
    position: relative;
}
.transition{
    transition:all .5s;
    -webkit-transition: all .5s;
}
.sub_nav{
    width: 100%;
    position: absolute;
    background: #dddddd;
    max-height: 0;
    overflow: hidden;
    z-index: 20;
}
.sub_nav_class li{
    text-align: center;
}
.sub_nav_class a{
    display: block;     
}
.line-height{
    line-height: 40px;
}       
nav>ul>li:hover .sub_nav{
    max-height: 800px;
}
.sub_nav> li a:hover{
    background: #49b9bb;
    color: black;
}
.menuli>a:hover{
    color: black;
}
.hide_nav{
    transform: translateY(-67px);
}
/* <!--   /////////////////////////       隱藏menu以下  /////////////////////////   -->        */
.menu{
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 30;
    align-self: center;
    padding-right: 15px;
}
.menu.active{
    background: #fff;
}
.menu ul{
    position: absolute;
    right: 0;
    top:53px;
    background:rgba(255,255,255,.9);
    width:100vw;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}
.menu.active ul{
    opacity: 1;
    max-height: 500px;
}
.menu ul li a{
    display: block;
    padding:20px 12px;  
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    color: #285964;
    font-weight: 600;
}
.menu ul li a:hover{
    background: #49b9bb;
    color: black;
}

.menu ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.bar{
    width: 36px;
    height: 6px;
    background: #32707e;
    margin: 6px 0;
    border-radius: 2px;
}
.active .bar1{
    -webkit-transform: rotate(-45deg) translate(-9px, 7px) ;
    transform: rotate(-45deg) translate(-9px, 7px) ;
}
.active .bar2{opacity: 0;}
.active .bar3{
    -webkit-transform: rotate(45deg) translate(-9px, -8px) ;
    transform: rotate(45deg) translate(-9px, -8px) ;
}
/* <!--   /////////////////////////         麵包穴以下  /////////////////////////   --> */
#breadcrumb{
    padding-top:64px;
}
.breadcrumb{
    display: flex;
    padding: 20px;
}
ul.breadcrumb li+li:before {
    padding: 10px;
    color: #bbb;
    content: "/\00a0";
}
.breadcrumb li a{
    color: #bbb;
    text-decoration: none;
    font-weight: 600;
}
.breadcrumb li{
    color: #285964;
    font-weight: 600;
}
.breadcrumb li:hover a{
    text-decoration: underline;
}


/* /////////////////////////       footer以下  /////////////////////////       */
footer{
    background: #285964;
    color: #ffffff;
}
.footer_flex{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: space-between;
}
.footer_flex ul{
    padding: 0 20px 0;
}
.footer_flex a{
    text-decoration: none;
    color: #ffffff;
}
.footer_menu{
    flex-grow:1;
}
.footer_menu a{
    display: block;
    text-align: center;
    padding: 5px 0 5px 0;
    font-size: 1.3rem;
}
.footer_icon{
    flex-grow:1;
    display: flex;
    align-items: flex-start;
}
.footer_icon img{
    height: 3rem;
    padding: 0 10px 0 10px;
}
.footer_logo img{
    height: 3rem;
}
.qrcode img{
    height: 8rem;
}
.footer_logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
}
.footer_logo p{
    font-size: 12px;
}
.information{
    margin-right: 20px;
    display: flex;
    flex-flow: column;
    align-content: space-around;
}
.information li{
    display: flex;
    flex-flow: row;
    margin-bottom: 10px;
    align-items: center;
}
.information img{
    height: 40px;
    margin-right: 10px;
}
.information a{
    font-size: 1.3rem;
    display: block;
}
.information div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer_comeon{
    width: 150px;
    padding-right: 20px;
}
.footer_menu li:hover{
    background: #133740;
}

/* /////////////////////////      media screen  以下  /////////////////////////       */

@media screen and (max-width: 1300px){
    nav{
        justify-content: center;
    }
}          
@media screen and (min-width: 1025px){
    .menu{
        display: none
    }        
}
@media screen and (max-width: 1024px){
    .navul{
        display: none
    }
    nav{
        justify-content: space-between;
    }
    .footer_comeon {
        display: none;
    }
}
@media screen and (max-width: 768px){
    .footer_comeon{
        display:block;
    }
}
@media screen and (max-width: 418px){
    .nav_logo{
        height: 45px;
    }
    #slider {
        padding-top: 49px;
    }
    .menu ul{
        top: 45px;
    }
    .footer_icon{
        justify-content: center;
        margin-bottom: 20px;
    }
    .footer_menu{
        width: 100%;
        margin-left: 20px;
    }
    .information{
        margin-top: 20px;
        margin-left: 20px;
    }
    .footer_comeon{
        width: 50%;
        margin: 20px auto;
    }
}  